
html,
body {
  background: #efefef;
  /* background-image: url("https://images.unsplash.com/photo-1620820871314-4e0f0fd1eaf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBsYW5ldHN8ZW58MHx8MHx8&w=1000&q=80"); */
  padding: 10px;
  font-family: 'Varela Round';
}

.etc-calculator-form {
  color: black;
  padding: 10px 20px;
}
.etc-calculator-form p {
  margin-bottom: 5px;
}


.calculator-form-1 {
  min-width: 500px;
  border-radius: 5px;
  display: inline-block;
}
.main-calculator-form {
  position: relative;
}
.calculator-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.calculator-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.calculator-form-1 .form-control:-moz-placeholder,
.calculator-form-1 .form-control::-moz-placeholder,
.calculator-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.calculator-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.calculator-form-1 .form-group:last-child {
  border-bottom: 0;
}
.calculator-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

.calculator-form-1 .calculator-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.calculator-form-1 .calculator-button:hover {
  transform: rotate(450deg);
  color: red;
}
.calculator-form-1 .calculator-button.clicked {
  color: #555555;
}
.calculator-form-1 .calculator-button.clicked:hover {
  transform: none;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}

.planet-div{
  min-width: 500px;
  border-radius: 5px;
  display: inline-block;
  background-color: #ffffff;
}

#planetsDiv{
  display: none;
}

.years{
  font-size: 24px;
}

.yearsLeft{
  font-size: 24px;
}

.yearsOver{
  font-size: 24px;
}

.yearsLeftLine{
  display: none;
}

.yearsOverLine{
  display: none;
}

img{
  width: 300px;
  height: auto;
  background-color: white;
}

